body { 
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-position: center center;
    color: white;
}

p {
    font-size: 20px;
}

.notios {
    display: none;
}

.container {
    margin-top: 10px;
    text-align: center;
    padding: 30px 20px 30px 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

a:link, a:visited {
    text-decoration: none;
    color: #0064FF;
}

#notice15 {
    font-size: 16px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: #00000064;
    color: white;
    text-align: center;
}

.bg1 {background-size: 200%; background-image: url(./img/001.jpg);}
.bg2 {background-size: 200%; background-image: url(./img/002.jpg);}
.bg3 {background-size: 200%; background-image: url(./img/003.jpg);}
.bg4 {background-size: 200%; background-image: url(./img/004.jpg);}
.bg5 {background-size: 200%; background-image: url(./img/005.jpg);}
.bg6 {background-size: 200%; background-image: url(./img/006.jpg);}
.bg7 {background-size: 200%; background-image: url(./img/007.jpg);}
.bg8 {background-size: 200%; background-image: url(./img/008.jpg);}
.bg9 {background-size: 200%; background-image: url(./img/009.jpg);}
.bg10 {background-size: 200%; background-image: url(./img/010.jpg);}
.bg11 {background-size: 200%; background-image: url(./img/011.jpg);}
.bg12 {background-size: 200%; background-image: url(./img/012.jpg);}
.bg13 {background-size: 200%; background-image: url(./img/013.jpg);}
.bg14 {background-size: 200%; background-image: url(./img/014.jpg);}
.bg15 {background-size: 200%; background-image: url(./img/015.jpg);}

@media only screen and (min-width: 700px) {
    body {
        background-position: center;
        background-size: 100%;
    }
}  

@media only screen and (min-width: 1100px) {

    .container {
        width: 1040px;
        margin: 10px auto;
    }
}  